-
  const DEFAULT_ACTIVE = 1
  const FEATURES = [
    { 
      title: 'Комиссия 5%, без скрытых платежей', 
      text: ['Бибилет выгоднее большинства конкурентов. При большом объёме продаж возможны ещё более выгодные условия.'],
    },
    {
      title: 'Не стыдно перед покупателями',
      text: [
        'Окно покупки билетов быстро загружается, аккуратно выглядит на всех экранах и не глючит. Работает даже если у покупателя ВПН.',
        'Никакой рекламы и пёстрых логотипов, поддержка фирменного цвета площадки.',
        'Чистый и не глючный интерфейс не мешает покупать и увеличивает конверсию в среднем на 10%.',
      ],
      isDouble: true,
      img: ['buy-md.jpg', 'buy-sm.jpg']
    },
    {
      title: 'Личный кабинет без перегруза',
      text: [
        'Чистый и понятный интерфейс, любой сотрудник быстро научится управлять площадкой и событиями.'
      ],
      img: ['lk.jpg']
    },
    {
      title: 'Бесплатное подключение и право на «нет»',
      text: [
        'Мы бесплатно подключим Бибилет на сайт, даже если сайт проблемный. Умеем подключаться параллельно другим операторам, чтобы вы могли попробовать Бибилет, не меняя существующие процессы.',
        'Если Бибилет не понравится, мы бесплатно вернём всё как было.'
      ],
    },
    {
      title: 'Дополнительный канал продаж, можно даже без сайта',
      text: [
        'Продавайте билеты через соцсети и отдельно на странице площадки внутри Бибилета.',
        'Это может дополнить или даже полностью заменить продажу через сайт.'
      ],
    },
    {
      title: 'Промокоды и сертификаты',
      text: [
        'Создавайте автоматические скидки, подарочные сертификаты и промокоды.'
      ],
    },
    {
      title: 'Техподдержка с человеческим лицом',
      text: [
        'Вежливые специалисты Бибилета всегда на связи по техническим и организационным вопросам. Без отписок и бюрократии.'
      ],
    },
    {
      isSoon: true,
      title: 'Скоро: рассылки и оповещения',
      text: [
        'Сообщайте покупателям о новых событиях и акциях по почте и в месенжерах.'
      ],
    },
    {
      isSoon: true,
      title: 'Скоро: перепродажа билетов',
      text: [
        'Включите перепродажу и зарабатывайте больше. Покупатель сможет продать билет, если не сможет прийти, вы получите итоговую стоимость продажи билета, которая в несколько раз превышать начальную, особенно для эксклюзивных событий.'
      ],
    },
    //- {
    //-   title: 'А главное — Бибилет сделан с любовью, людьми и для людей',
    //-   text: [
    //-     'Не корпорация, а небольшая команда профи с большой любовью к своему делу.',
    //-     'Мы не понаслышке знакомы с бытом локальных театров, клубов и галерей. Мы хотим облегчить их рутину и помочь продавать билеты без нервов и заморочек.'
    //-   ],
    //- }
  ]

mixin features
  .features
    .features__list
      each feature, i in FEATURES
        - 
          const className = [
            feature.img && 'js-anchor',
            i == DEFAULT_ACTIVE && 'active',
            feature.isSoon && 'disabled',
          ].filter(Boolean).join(' ')

        .feature(class=className data-anchor=feature.img ? i : false)
          .feature__info
            h2!= feature.title
            each text in feature.text
              p!= text

    .switcher
      each feature, i in FEATURES
        if(feature.img)
          .switcher__item.js-switcher-item(class=i == DEFAULT_ACTIVE ? 'active' : '' data-on-anchor=i)
            if(feature.isDouble)
              .double
                .browser.no-head
                  img(src=`/src/assets/${feature.img[0]}` alt="Интерфейс платформы" loading="lazy")
                .iphone
                  img(src=`/src/assets/${feature.img[1]}` alt="Интерфейс платформы" loading="lazy")
            else
              .browser
                img(src=`/src/assets/${feature.img}` alt="Интерфейс платформы" loading="lazy")