-
  const DEFAULT_ACTIVE = 2
  const FEATURES = [
    { 
      title: 'Комиссия 5%, без скрытых условий', 
      text: ['Бибилет выгоднее большинства других операторов. При большом объёме продаж возможны ещё более выгодные условия.'],
    },
    {
      title: 'Бесплатное подключение и отключение',
      text: [
        'Мы бесплатно подключим Бибилет на любой сайт, даже на проблемный. Умеем подключаться параллельно другим билетным системам, чтобы вы могли попробовать и перейти плавно и не ломая процессы.',
        'Если не понравится — бесплатно вернём всё как было.'
      ],
    },
    {
      title: 'Личный кабинет без перегруза',
      text: [
        'Кабинет работает понятно и предсказуемо. Любой сотрудник быстро научится управлять площадкой и событиями.'
      ],
      img: 'test2.png'
    },
    {
      title: 'Не стыдно перед покупателями',
      text: [
        'Окно покупки билетов быстро загружается, аккуратно выглядит на всех экранах и не глючит. Работает даже если у покупателя ВПН.',
        'Внутри никакой рекламы и пёстрых логотипов.'
      ],
      img: 'test3.png'
    },
    {
      title: 'Поддержка с человеческим лицом',
      text: [
        'Быстрая техподдержка вежливых профессионалов. Решаем вопросы быстро и без лишней бюрократии.'
      ],
    },
    {
      title: 'Несколько каналов продаж, можно даже без сайта',
      text: [
        'Продавайте билеты через соцсети и отдельно на странице площадки внутри Бибилета.',
        'Это может дополнить или даже полностью заменить продажу через сайт.'
      ],
      img: 'test.png'
    },
    {
      title: 'Промокоды и сертификаты',
      text: [
        'Создавайте автоматические скидки, подарочные сертификаты и промокоды.'
      ],
    },
    {
      isSoon: true,
      title: 'Скоро: рассылки и оповещения',
      text: [
        'Оповещайте покупателей о новых событиях и акциях, чтобы продавать больше.'
      ],
    },
    {
      isSoon: true,
      title: 'Скоро: перепродажа билетов',
      text: [
        'Включите перепродажу и зарабатывайте больше. Покупатель сможет продать билет, если не сможет прийти.',
        'Вы получите итоговую стоимость продажи билета, которая в несколько раз превышать начальную, особенно для эксклюзивных событий.'
      ],
    },
    //- {
    //-   title: 'А главное — Бибилет сделан с любовью, людьми и для людей',
    //-   text: [
    //-     'Не корпорация, а небольшая команда профи с большой любовью к своему делу.',
    //-     'Мы не понаслышке знакомы с бытом локальных театров, клубов и галерей. Мы хотим облегчить их рутину и помочь продавать билеты без нервов и заморочек.'
    //-   ],
    //- }
  ]

mixin features
  .features
    .features__list
      each feature, i in FEATURES
        - 
          const className = [
            feature.img && 'js-anchor',
            i == DEFAULT_ACTIVE && 'active',
            feature.isSoon && 'disabled',
          ].filter(Boolean).join(' ')

        .feature(class=className data-anchor=feature.img ? i : false)
          .feature__info
            h2!= feature.title
            each text in feature.text
              p!= text

    .switcher
      each feature, i in FEATURES
        if(feature.img)
          .switcher__item.js-switcher-item(class=i == DEFAULT_ACTIVE ? 'active' : '' data-on-anchor=i)
            .browser
              img(src=`/src/assets/${feature.img}` alt="#")